@charset "UTF-8";
	.line{
		position: relative;
		margin: 0 auto;
		padding: 20 10px;
		border: solid 1px black;
		width: 90%;
		height: 420px;
		overflow: hidden;
	}
	.recipe{
		position: absolute;
		width: 100%;
		height: 400px;
		padding: 1px;
		margin: 0;
		display: inline-block;
		border: solid 1px red;
		overflow: hidden;
	}
	.recipeinfo{
	 	width: 23%;
	 	height: 100%;
	 	padding: 10px;
	 	display: inline-block;
	 	border: solid 1px blue;
	}