@charset "UTF-8";
.btn{
		background-color: #4CAF50; /*색변경*/
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
	.joinbox{
		margin: auto;
		width: 300px;
		height: 350px;
	}
	
	.formbox{
		
	}
	.btn{
		background-color: #4CAF50; /*색변경*/
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}