<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css/recipeWitpg.css">
<script src="./js/jquery-3.5.1.js"></script>
<script src="./js/main.js"></script>

<title>레시피 작성페이지</title>
</head>
<body>
	<div class="container">
		<div class="center">
			<div class="cen_title">
				<div class="tit_right">
                    <a id="logo" href="#"><img src="#" alt="홈페이지로고 링크"></a>
					<a href="#"><img src="#" alt="내정보 바로가기"></a> 
					<a href="#" id="btnRecipeIdGuide">
					<img src="#" alt="즐겨찾기"></a> 
					<a href="#" id="btnRecipeInsertGuide">
					<img src="#" alt="메인서브메뉴"></a>
				</div>
			</div>
			<div class="contents">
				<div id="ptupload" class="loadpic">
					<div id="ptbox">
						<img id="ptholder" onclick="browseMainFile()" src="#">
					</div>
				</div>
				<div class="line1">
					<p class="rptit4">레시피 제목</p>
					<input type="text" name="rptitle" id="rptitle" placeholder="예) 소고기 미역국 끓이기">
				</div>
				<div class="line2">
					<p class="rptit4">요리소개</p>
					<textarea name="rpintro" id="rpintro" placeholder="이 레시피의 탄생배경을 적어주세요. 예) 남편의 생일을 맞아 소고기 미역국을 끓여봤어요. 어머니로부터 배운 미역국 레시피를 남편의 입맛에 맞게 고안했습니다."></textarea>
				</div>

				<div class="line3">
					<p class="rptitle">카테고리</p>
					<select name="#" id="category1">
						<option value="country">국가별</option>
						<option value="ko">한식</option>
						<option value="we">양식</option>
						<option value="je">일식</option>
						<option value="etc_con">기타</option>
					</select> 
					<select name="#" id="category2">
						<option value="taste">취향별</option>
						<option value="sweet">단맛</option>
						<option value="salty">짠맛</option>
						<option value="sour">신맛</option>
						<option value="spicy">매운맛</option>
						<option value="simple">담백한맛</option>
					</select> 
					<select name="#" id="category3">
						<option value="age">연령별</option>
						<option value="infants">영유아</option>
						<option value="teenager">청소년</option>
						<option value="adult">성인</option>
						<option value="middle-aged">중장년층 이상</option>
					</select> 
					<select name="#" id="category4">
						<option value="kinds">종류별</option>
						<option value="mainDish">메인요리</option>
						<option value="mainSideDish">메인반찬</option>
						<option value="sideDish">밑반찬</option>
						<option value="dessert">디저트</option>
						<option value="etc">기타</option>
					</select>
					<span class="guide">분류를 바르게 설정해주시면, 이용자들이 쉽게 레시피를 검색할 수 있어요.</span>
				</div>
				<div class="line4">
					<p class="rptit4">요리정보</p>
					인원<select name="portion" id="portion">
						<option value="null">인원</option>
						<option value="1">1인분</option>
						<option value="2">2인분</option>
						<option value="3">3인분</option>
						<option value="4">4인분</option>
						<option value="5">5인분</option>
						<option value="6">6인분이상</option>
					</select> <span class="pad_l_30">시간 </span> 
					<select name="time" id="time">
						<option value="null">시간</option>
						<option value="5">5분이내</option>
						<option value="10">10분 이내</option>
						<option value="20">20분 이내</option>
						<option value="30">30분 이내</option>
						<option value="60">60분 이내</option>
						<option value="90">90분 이내</option>
						<option value="120">120분 이상</option>
					</select> <span class="pad_l_30">난이도 </span> 
					<select name="difficulty" id="difficulty">
						<option value="null">난이도</option>
						<option value="1">초급</option>
						<option value="2">초급</option>
						<option value="3">중급</option>
						<option value="4">고급</option>
						<option value="5">신</option>
					</select>
				</div>
			</div>
			<!--/cont_box-->
			<div class="contents">
				<span class="guide" style="width: 100%;">재료가 남거나 부족하지 않도록 정확한 계량정보를 적어주세요.</span>
				<div class="sortable" id="MtlArea">
					<a href="#" class="sortable-handle" data-original-title="" title=""></a> 
					<input type="text" name="mtltitle1" id="mtltitle1" >
					<button id="mtlmodal" type="button">
						<input type="text" id="">
						<span class="rpimport"> </span> 한번에 넣기
					</button>
					<button type="button" onclick="delMaterialGroup(1)" class="btn-sm">
						<span class="rpremove"> </span> 묶음삭제
					</button>
					
						
					<ul id="Material_1" class="sortable">
						<li id="Material_1_1"><a href="#" class="sortable-handle" style="width: 330px; background-color: rgb(233, 233, 233);"></a>
							<input type="text">
							<input type="text">
						</li>
						<li id="Material_1_2"><a href="#" class="sortable-handle" data-original-title="" title=""></a> 
							<input type="text">
							<input type="text">
						</li>
						<li id="Material_1_3"><a href="#" class="sortable-handle" data-original-title="" title=""></a> 
							<input type="text">
							<input type="text">
						</li>
					</ul>
					
					<div class="btn_add" style="padding: 0 0 20px 350px; width: 800px;">
						<button type="button" onclick="addMaterial(1)" class="btn">
							<span class="#"> </span>추가
						</button>
					</div>
				</div>
				<div class="noti"> ※ 양념, 양념장, 소스, 드레싱, 토핑, 시럽, 육수 밑간 등으로 구분해서 작성해주세요.
					<div class="noti_btn">
						<button type="button" onclick="addMaterialGroup('',[],null,'1')" class="btn-lg">
							<span class="smrplus"></span> 재료/양념 묶음 추가
						</button>
					</div>
				</div>
			</div>

			<!--/cont_box-->
			<div class="contents">
				<input type="file" name="file" id="multifile_1">
				<p class="tit3">요리순서
					<button type="button" onclick="document.getElementById('multifile_1').click();" class="btn-sm btn-default">
						<span class="ptplus"></span> 순서사진 한번에 넣기
					</button>
				</p>
				<span class="guide mag_b_15"><b>요리의 맛이 좌우될 수 있는 중요한 부분은
						빠짐없이 적어주세요.</b><br> 예) 10분간 익혀주세요 ▷ 10분간 약한불로 익혀주세요.<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;마늘편은 익혀주세요 ▷ 마늘편을 충분히 익혀주셔야 매운
					맛이 사라집니다.<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;꿀을 조금 넣어주세요
					▷ 꿀이 없는 경우, 설탕 1스푼으로 대체 가능합니다. </span>
				<div id="StepArea" class="ui-sortable"></div>
				<!-- step template -->
				<div id="StepTemplate">
					<div id="StepItem_STEP" class="step">
						<p id="StepNum_STEP" class="cont_tit2_1">Step 1</p>
						<div id="StepText_STEP" style="display: inline-block">
							<textarea name="step_text[]" id="step_text_STEP" class="form-control step_cont" placeholder=""  style="height: 160px; width: 430px; resize: none;"></textarea>
						</div>
						<div id="StepUpload_STEP">
							<div id="StepPhotoBox_STEP">
								<img id="stepPhotoHolder_STEP" src="https://recipe1.ezmember.co.kr/img/pic_none2.gif" width="160" height="160">
							</div>
						</div>
						<div id="StepBtn_STEP" class="step_btn" style="display: none">
							<a href="javascript:void(0)">
							<span class="moveUp"></span></a> 
							<a href="javascript:void(0)">
							<span class="#"></span></a> 
							<a href="javascript:adjustStep(__STEP)"><b>맞춤</b></a> 
							<a href="javascript:addStep(__STEP)">
							<span class="plus"></span></a> 
							<a href="javascript:delStep(__STEP)">
							<span class="remove"></span></a>
						</div>
						<div id="cok_info" style="width: 580px; border: 2px solid #74b243; margin: 5px 200px 5px;">
							<div id="cok_test"style="padding: 5px;">
								<a href="javascript:void(0);" id="stepBtn_material_STEP" class="btn-xs">
								<img src="./img/app_icon_step_material.png"> 재료</a> 
								<a href="javascript:void(0);" id="stepBtn_cooker_STEP" class="btn-xs" >
								<img src="./img/app_icon_step_tool.png"> 도구</a> 
								<a href="javascript:void(0);" id="stepBtn_fire_STEP" class="btn-xs">
								<img src="./img/app_icon_step_fire.png"> 불</a> 
								<a href="javascript:void(0);" id="stepBtn_tip_STEP"class="btn-xs">
								<img src="./img/app_icon_step_tip.png"> 팁</a> 
								<a href="javascript:void(0);" id="stepBtn_all_STEP" class="btn-xs" > 전 체 </a> 
								<a href="javascript:openStepGuide();" id="stepBtn_guide_STEP" class="btn-xs">추가기능을 넣어보세요!!</a>
								<!--javascript:void(0) 자바스크립트 뒤에 붙은 :void(0) 코드는 홈페이지에서 이동링크 클릭시 넘어가는걸 방지해주는 코드다.-->
								<div id="material_STEP">
									<img src="#" > 
									<input type="text" name="step_material[]" id="step_material_STEP" placeholder="밀가루 100g,소금 2큰술,물 100g" >
								</div>
								<div id="cooker_STEP" style="display: none; margin: 5px 5px;">
									<img src="#" style="width: 24px; height: 24px;"> 
									<input type="text" style="width: 500px; height: 24px;">
								</div>
								<div id="fire_STEP" style="display: none; margin: 5px 5px;">
									<img src="#" style="width: 24px; height: 24px;"> 
									<input type="text" id="step_fire_STEP" style="width: 500px; height: 24px;">
								</div>
								<div id="tip_STEP" style="display: none; margin: 5px 5px;">
									<img src="#" style="width: 24px; height: 24px; vertical-align: top;">
									<textarea name="step_tip[]" id="step_tip_STEP" style="width: 500px; height: 50px; resize: none;"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/step template-->

				<div class="btn_add mag_b_25"
					style="padding: 0 0 20px 180px; width: 820px;">
					<button type="button" onclick="addStep()" class="btn">
						<span class="plus-sign"></span>순서추가
					</button>
				</div>

				<p class="cont_tit4">
					요리완성사진 <input type="file" name="file" id="multifile_2"
						style="display: none;"> <br>
					<button type="button"
						onclick="document.getElementById('multifile_2').click();"
						class="btn-sm">
						<span class="plus"></span> 사진 한번에 넣기
					</button>
					<input type="text" id="candy"/>
					<button type='button' id="modal_btn">모달창아 나와랏</button>
					<div class="black_bg"></div>
						<div class="modal_wrap">
							
							<div class="modal_close"><a href="#">close</a></div>
						<div>
							<input type="text" id="yire2" />
							<button id="test1">전송</button>
							
						</div>

					<div>
				</p>
				<div id="WorkArea" style="display: inline-block"
					class="ui-sortable">
					<div id="WorkUpload_1" class="complete_pic">
						<div id="WorkPhotoBox_1" is_over="0">
							<a href="#" class="pic_del" style="display: none"></a> 
							<img id="workPhotoHolder_1" src="https://recipe1.ezmember.co.kr/img/pic_none3.gif" style="width: 140px; height: 140px; cursor: pointer">
						</div>
					</div>
					<div id="WorkUpload_2" class="complete_pic">
						<div id="WorkPhotoBox_2" is_over="0">
							<a href="#" class="pic_del" style="display: none"></a> 
							<img id="workPhotoHolder_2" src="https://recipe1.ezmember.co.kr/img/pic_none3.gif" style="width: 140px; height: 140px; cursor: pointer">
						</div>
					</div>
					<div id="WorkUpload_3" class="complete_pic">
						<div id="WorkPhotoBox_3" is_over="0">
							<a href="#" class="pic_del" style="display: none"></a> <img id="workPhotoHolder_3" src="https://recipe1.ezmember.co.kr/img/pic_none3.gif" style="width: 140px; height: 140px; cursor: pointer">
						</div>
					</div>
					<div id="WorkUpload_4" class="complete_pic">
						<div id="WorkPhotoBox_4" is_over="0">
							<a href="#" class="pic_del" style="display: none"></a> <img id="workPhotoHolder_4" src="https://recipe1.ezmember.co.kr/img/pic_none3.gif" style="width: 140px; height: 140px; cursor: pointer">
						</div>
					</div>
				</div>
			</div>
			<!--/cont_box-->
			<div class="contents">
				<p class="tit4">요리팁</p>
				<textarea name="tip" id="tip" placeholder="예) 고기요리에는 소금보다 설탕을 먼저 넣어야 단맛이 겉돌지 않고 육질이 부드러워요." style="height: 120px; width: 620px; resize: none; background-color:  rgb(233, 233, 233);;"></textarea>
			</div>
			<!--/cont_box-->

		</div>
		<!--/regi_center-->
		<div class="regi_btm">
			<button type="button" class="btn-primary">저장</button>
			<button type="button" class="btn-warning">저장 후 공개하기</button>
			<button type="button" class="btn-default">취소</button>
		</div>
	</div>
</body>
</html>